.header {
  padding: 10px 40px 20px;
  background-color: #212121;
}

.logo {
  height: 35px;
  width: auto;
}

.content {
  padding: 40px;
}

.contentHeader {
  position: relative;
  margin-bottom: 40px;
}

.loaderWrapper {
  position: absolute;
  top: 17px;
  right: 0;
}